@mixin width {
    width: 100%;
    display: flex;
    justify-content: center;
}

$main-bgc: #202024;
$text-clor: rgba(255, 255, 255, 0.6);
$yelow__text-color: #F6C866;

body {
    margin: 0;
    padding: 0;
    background-color: $main-bgc;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 25px;
    color: $text-clor;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

.preloader {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    background-color: #202024;
	z-index: 99;
}

#floatingBarsG{
	position:relative;
	width:73px;
	height:75px;
}

.blockG{
	position:absolute;
	background-color:#AB780A;
	width:7px;
	height:14px;
	border-radius:8px 8px 8px 8px;
	transform:scale(0.4);
	animation-name:fadeG;
	animation-duration:1.2s;
	animation-iteration-count:infinite;
	animation-direction:normal;
}

#rotateG_01{
	left:0;
	top:32px;
	animation-delay:0s;
	transform:rotate(-90deg);
}

#rotateG_02{
	left:4px;
	top:16px;
	animation-delay:0.1s;
	transform:rotate(-55deg);
}

#rotateG_03{
	left:16px;
	top:4px;
	animation-delay:0.2s;
	transform:rotate(-30deg);
}

#rotateG_04{
	right:33px;
	top:0px;
	animation-delay:0.3s;
	transform:rotate(0deg);
}

#rotateG_05{
	right:17px;
	top:4px;
	animation-delay:0.4s;
	transform:rotate(30deg);
}

#rotateG_06{
	right:4px;
	top:16px;
	animation-delay:0.5s;
	transform:rotate(55deg);
}

#rotateG_07{
	top:32px;
	right:0;
	animation-delay:0.6s;
	transform:rotate(90deg);
}

#rotateG_08{
	right:4px;
	bottom:12px;
	animation-delay:0.7s;
	transform:rotate(-55deg);
}

#rotateG_09 {
    bottom:-1px;
	right:16px;
	animation-delay:0.7s;
	transform:rotate(-30deg);
}

#rotateG_10 {
    right:33px;
	bottom:-5px;
	animation-delay:0.8s;
	transform:rotate(0deg);
}

#rotateG_11 {
    left:16px;
	bottom:-1px;
	animation-delay:0.9s;
	transform:rotate(30deg);
}

#rotateG_12 {
    left:4px;
	bottom:11px;
	animation-delay:1.0s;
	transform:rotate(55deg);
}



@keyframes fadeG{
	0%{
		background-color:#FDD98B;
	}

	100%{
		background-color:#AB780A;
	}
}

.preloader__text {
    margin-top: 30px;
    color: $text-clor;
    font-size: 12px;
}





// Header ============================
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.head-box {
    width: 100%;
    padding: 30px 0;
    border-bottom: 1px solid $text-clor;
	display: flex;
	justify-content: center;
}

.header__text {
	background-color: #fff;
	border-radius: 5px;
    text-align: center;
    font-size: 25px;
    font-family: "Bad Script";
	color: #202024;
	padding: 22px 12px;
    line-height: 31px;
	width: 414px;
}

.position-box {
	position: relative;
}

.poligon {
	width: 15px;
	height: 12px;
	background-image: url(../../img/svg/polygon.svg);
	position: absolute;
	bottom: -11px;
	right: 50px;
}

.head__subtitle {
	margin-top: 75px;
	color: $yelow__text-color;
	width: 500px;
	text-align: center;
	font-weight: 400;
	text-transform: uppercase;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: linear-gradient(90deg, rgba(246, 200, 102, 0.9) -6.2%, rgba(254, 173, 53, 0.9) 100%);
    margin-bottom: 35px;
    text-decoration: none;
    font-weight: 400;
	font-size: 20px;
    line-height: 23px;
    width: 285px;
    height: 69px;
    color: #fff;
    position: relative;
    overflow-x: hidden;

    & .flare {
        position: absolute;
        top: 0;
        height: 100%;
        width: 151px;
        transform: skewX(20deg);
        animation: flare 5s  infinite linear;
        background: linear-gradient(248.67deg, rgba(255, 255, 255, 0) 30.84%, rgba(255, 255, 255, 0.29) 46.06%, rgba(255, 255, 255, 0) 64.04%);
    }

	&:first-child {
		margin-top: 55px;
	}

    &:last-child {
        margin-bottom: 0;
    }
}

@keyframes flare {
    0% {
        left: -150%;
    }
    100% {
        left: 150%;
    }
}

.number__question {
	margin-top: 185px;
	font-size: 12px;
	line-height: 14px;
}

.eye {
	position: absolute;
	width: 145px;
	left: 65%;
}

.moon {
	position: absolute;
	width: 90px;
	left: 30%;
	top: 75%;
}

.flex-container {
	// margin-top: 74px;
	// height: 70vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}



@media (min-width: 300px) and (max-width: 800px) {
	.header__text {
		font-size: 14px;
		width: 235px;
	}

	.flex-container {
		height: 70vh;
	}

	.head__subtitle {
		margin-top: 35px;
		font-size: 16px;
		width: 288px;
		display: flex;
		line-height: 20px;
	}

	.btn {
		margin-bottom: 20px;
		width: 180px;
		height: 40px;
		font-size: 14px;

		&:last-child {
			margin-bottom: 0;
		}

		&:first-child {
			margin-top: 40px;
		}
	}

	.number__question {
		margin-top: 36px;
		font-size: 12px;
	}

	.hidden-block {
		position: absolute;
		right: 0;
		top: 50px;
		width: 100px;
		height: 150px;
		overflow: hidden;
	}

	.eye {
		left: 0;
		top: 0;
	}

	.moon {
		left: -5%;
		top: 500px;
	}
}

@media (min-width: 800px) and (max-width: 1800px) {
	.eye {
		left: 75%;
	}

	.moon {
		left: 20%;
		top: 65%;
	}
}